Source: mikumikupenguin
Section: unknown
Priority: optional
Maintainer: KURASHIKI Satoru <lurdan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), dh-autoreconf, libglfw-dev (= 2.7.2-1), libglew-dev, libglm-dev (>= 0.9.5.1), libbullet-dev, libsoil-dev, libsdl2-dev, libsdl2-mixer-dev
Standards-Version: 3.9.5
Homepage: https://github.com/sn0w75/MikuMikuPenguin
Vcs-Git: git@github.com:lurdan/MikuMikuPenguin.git
Vcs-Browser: https://github.com/lurdan/MikuMikuPenguin/tree/dpkg

Package: libmmp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: pmxviewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MikuMikuDance PMX/VMD Viewer
 <insert long description, indented with spaces>

Package: libmmp-doc
Architecture: all
Description: documentation for libmmp
 <insert long description, indented with spaces>
